/* Import Google font - Poppins */
/*@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 50%;
  display: flex;
  align-items: right;
  justify-content: right;
  padding: 20px;
  margin-bottom: 20px;
  
}
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.container header {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  text-align: center;
}


.input-box label {
  color: white;
  
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 40px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}

.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 5px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  
}
.form button:hover {
 
}
/*Responsive
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap:wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}*/


/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: right;
  justify-content: right;
  
  
}



.sticky {
  position: absolute;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: white;
}
.site-header { 
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
}

.site-header::after {
  content: "";
  display: table;
  clear: both;
}

.site-identity {
  float: left;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: left;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}


.site-navigation2 {
  float: right;
}

.site-navigation2 ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation2 li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}


.containers {
  position: relative;
  max-width: 700px;
  width: 100%;
 
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
.containers header {
  font-size: 1.5rem;
  
  font-weight: 500;
  
}
.containers .form {
  margin-top: px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: aliceblue;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}

.form :where(.gender input, .gender label) {
  cursor: pointer;
}

.address :where(input, .select-box) {
  margin-top: 15px;
}

.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  
}

textarea{
  border-radius: 11px;
}


/*Responsive*/
@media screen and (max-width: 500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}

