body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

#content{
    min-height: 600px;
}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/002.jpg) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 660px;
}

#item_list {
    padding-top: 50px;
}

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}


#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    bottom: 0;
    width: 100%;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:20px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
}

.datess{
    color: #0000ff;
}

.h1{
    text-align: right;
    padding-right: 300px;
    color:beige;
    font-family: Arial, Helvetica, sans-serif;
   
    font-size: 45px;
}
.boxz {
    display: block;
    margin-left: 950px;
    margin-right: 250px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 55px;
    padding-right: 0px;
    border: 125px ;
    color:rgb(211, 226, 239);
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
   }

   [type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  /* custom styles */
 
  label {
    display: block;
  }
  input {
    border: 1px solid #d1cccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    
  }

  body {
    font-family: Helvetica;
    margin: 0;
  }
.datess{
  color:rgb(0, 0, 0);
}
  
.citySelect,.countrySelect,.submit,.reset,.fuel{
    color: #101010;
}
 

  a {
    text-decoration: none;
    color: white;
  }
  .site-header { 
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }
  
  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .site-identity {
    float: left;
  }
  
  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }
  
  
  
  .site-navigation {
    float: left;
  }
  
  .site-navigation ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  
  .site-navigation2 {
    float: right;
  }
  
  .site-navigation2 ul, li {
    margin: 0; 
    padding: 0;
  }
  
  .site-navigation2 li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

  